<form asp-controller="Comments" asp-action="GetComments">
    <input type="Content" name="Content" placeholder="Content" required />
    <input type="UserID" name="UserID" placeholder="UserID" required />
    <input type="PostId" name="PostId" placeholder="PostId" required />
    <button type="submit" class="btn btn-primary">Post</button>
</form>