@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Hello! This is a reddit wanna be project. To access this site, you should login in!</a></p>
</div>
