<form asp-controller="Main" asp-action="CreatePost" asp-route-topicId="@ViewBag.TopicId">
    <input type="Content" name="Content" placeholder="Content" required />
    <input type="UserID" name="UserID" placeholder="UserID" required />
    <input type="TopicID" name="TopicID" placeholder="TopicID" required />
    <button type="submit" class="btn btn-primary">Post</button>
</form>