<form asp-controller="Main" asp-action="GetComments">
    <input type="Content" name="Content" placeholder="Content" required />
    <input type="UserID" name="UserID" placeholder="UserID" required />
    <input type="PostID" name="PostID" placeholder="PostID" required />
    <button type="submit" class="btn btn-primary">Post</button>
</form>