@{
    ViewData["Title"] = "Delete Post";
}

<h2>Delete Post</h2>

@if (ViewBag.DeletionSuccessful)
{
    <p>Post deleted successfully.</p>
}
else
{
    <p>An error occurred while deleting the post.</p>
}

<a asp-action="PostByTopic" asp-controller="Main">Back to Posts</a>