

@{
    ViewBag.Title = "REDDIT WANNA BE";
    Layout = "_LayoutMainPage";
}


@model MainPageModel
<h1>Topics</h1>
<div>
        <p>
            <a asp-controller="Main" asp-action="CreateTopic">CREATE TOPIC</a>
        </p>
    </div>

@foreach (var topic in Model.TopicsList)
{
    <div><a href>@topic.TopicName</div>
    <!-- Other topic properties -->
}